<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1> <!--titile変数には、routes/index.jsのコードで引数に指定して渡している-->
    <p>Welcome to <%= title %></p>
  </body>
</html>
